@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import 'tailwindcss';

@theme {
	--color-background: #FBF5DE;
	--color-surface: #EAC8A6;
	--color-ai: #A20000;
	--color-human: #3D74B6;

	--font-sans: 'Manrope', sans-serif;
	--font-mono: 'Space Mono', monospace;
}

html,
body {
	background-color: var(--color-background);
	font-family: var(--font-sans);
	min-height: 100vh;
	margin: 0;
}
